variables in python : variable is a memory block which is used to store data

syntax : varable=value,
         x=100
         
Rules :
*  dont start with digit or symbol
* starting letter should be alphabets and underscore
* case senitive

In [ ]:
#variables
string="Nedurumalli Prajith kumar reddy"
print(string)

Nedurumalli Prajith kumar reddy

In [ ]:
# multiple variables and multiple values
a,b,c=1,3,4
print(a,b,c)

1 3 4

In [ ]:
#single varible multiple values
c=3,7,2
print(c)

(3, 7, 2)

In [ ]:
#single value multiple varibles
c=v=x=22
print(c,v,x)

22 22 22

Data types in python : type of a value or type of data which is used to store perticular memory location  

Data types : types

int,                   
float,
boolean,
string,
complex,
list [],
tuple (),
set {},
Dictionary {},
frozenset,
None

In [ ]:
# int Data types
i=372
print(type(i))

<class 'int'>

In [ ]:
# float datatype
f =37.2
print(type(f))

<class 'float'>

In [ ]:
# boolean datatype
a=True;
b=False;
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
# complex data type
c=2+5j
print(type(c))

<class 'complex'>

In [ ]:
# string data type
s="python is good start for datascience and machine laerning"
print(type(s))

<class 'str'>

In [ ]:
# type conversion in python
# type conversion int to flaot
i=372
f=float(i)
print(f)
# data lose ---> explicit type conversion
# no data lose ---> implicit type conversion

372.0

control statements in python

 there are three types

 1. conditional statements
   
    * In conditional statements there are 4

    if,
    else,
    elif,
    nested if

 2. Looping statements

     * In Looping statements there are 3

     for,
     while,
     nested loops

 3. Jumping statements

     * In Jumping statements there are 3

     pass,
     continue,
     Break

In [ ]:
# conditional statements in python
age=23
if age>18:
  print("you are elible for voting")
elif age==18:
  print("you are also elible for voting")
else:
  print("wait until you get 18 years")

you are elible for voting

In [ ]:
#nested if in python
if True:
  print("hi prajith")
  if True:
    print("bye prajith")
else:
  print()

hi prajith
bye prajith

In [ ]:
#looping statements
#for loop
for i in range(0,10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
b="prajith"
for k in b:
  print(k,end=" ")

p r a j i t h

In [ ]:
#while loop
k=10
while k<20:
  print("hi")
  k+=1

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
#nested for loop
for i in range(0,10):
  for j in range(0,10):
    print(i+j,end="  ")

0  1  2  3  4  5  6  7  8  9  1  2  3  4  5  6  7  8  9  10  2  3  4  5  6  7  8  9  10  11  3  4  5  6  7  8  9  10  11  12  4  5  6  7  8  9  10  11  12  13  5  6  7  8  9  10  11  12  13  14  6  7  8  9  10  11  12  13  14  15  7  8  9  10  11  12  13  14  15  16  8  9  10  11  12  13  14  15  16  17  9  10  11  12  13  14  15  16  17  18

In [ ]:
#while loop
prajith=372;
while prajith<382:
  print("hello",prajith)
  prajith+=1

hello 372
hello 373
hello 374
hello 375
hello 376
hello 377
hello 378
hello 379
hello 380
hello 381

In [ ]:
for i in range(0,10):
  for j in range(0,100):
    print(i+j,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108

In [ ]:
#jumping statements in python
# there are three types of jumping statements in python
# pass,break,continue
#break
for i in "Prajith":
  if i=='h':
    break
  print(i)

P
r
a
j
i
t

In [ ]:
#continue
for i in "prajith":
  if i=='a':
    continue
  print(i)

p
r
j
i
t
h

In [ ]:
# strings in python
# string : collection ofcharacters
# we will define a string in three ways
# single quotes (' ')
#  double quotes (" ")
# Triple quotes (''' ''')
''' string methods
1.lower()
2.upper()
3.endswith()
4.startswith()
5.replace()
6.split()
7.count()
8.Rstrip()
9.Lstrip()
10.strip()
11.removeprefix()
12.removesuffix()
13.index()
14.find()
'''
#upper()
pythoncourse="please login"
print(pythoncourse.upper());

PLEASE LOGIN

In [ ]:
#lower()
pythoncourse="PLEASE LOGIN"
print(pythoncourse.lower());

please login

In [ ]:
#endswith()
pythoncourse ="please login"
print(pythoncourse.endswith("n"));

True

In [ ]:
#replace()
pythoncourse="please login"
print(pythoncourse.replace("login","learn"));

please learn

In [ ]:
#index()
#find()
#count()
pythoncourse="please login"
print(pythoncourse.index("a"))
print(pythoncourse.find("a"))
print(pythoncourse.count('login'))

3
3
1

In [ ]:
#removeprefix()
pythoncourse="please login"
print(pythoncourse.removeprefix("please"));

 login

In [ ]:
#removesuffix()
pythoncourse="please login"
print(pythoncourse.removesuffix("login"))

please

In [ ]:
#split()
pythoncourse="please login"
print(pythoncourse.split("please"));

['', ' login']

In [ ]:
#len()
#strip()
pythoncourse="please login"
print(len(pythoncourse))
print(pythoncourse.strip("please"))

12
 login

List in python [ ]

List is a mutable datatype : we can modify it

store different types of elements

list allows duplicates

list allow indexing

List methods : append,Extend,Remove,Pop,count,index.

In [ ]:
#list [ ]
l=[]
print(type(l))

<class 'list'>

In [ ]:
l=[1,24,1,4,372,382,5,'prajith']
print(l[3])
#slicing
print(l[0:4])
print(l[0:8])

4
[1, 24, 1, 4]
[1, 24, 1, 4, 372, 382, 5, 'prajith']

In [ ]:
#append()
l=[22,373,383,59,69,382,'prajith']
l.append('python learning')
print(l)

[22, 373, 383, 59, 69, 382, 'prajith', 'python learning']

In [ ]:
#extend()
l=[22,373,383,59,69,382,'prajith']
l.extend([482,582,682,782,'python learning'])
print(l)

[22, 373, 383, 59, 69, 382, 'prajith', 482, 582, 682, 782, 'python learning']

In [ ]:
#count( )
l=[382,392,482,592,'prajith']
print(l.count(2))
print(l)

0
[382, 392, 482, 592, 'prajith']

In [ ]:
#remove( )
l=[382,392,492,592,'prajith']
print(l.remove('prajith'))
print(l);

None
[382, 392, 492, 592]

In [ ]:
#pop
l=['prajith','kiran','ravi','kishore']
print(l.pop(3))
print(l);

kishore
['prajith', 'kiran', 'ravi']

In [ ]:
#index()
l=['prajith','kishore','ravi','kiran','aravind','srinu',372]
print(l.index(372))
print(l.index('kiran'))
print(l);

6
3
['prajith', 'kishore', 'ravi', 'kiran', 'aravind', 'srinu', 372]

In [ ]:
#insert()
l=['prajith','kishore','ganesh','ravi',372]
l.insert(382,392);
print(l)

['prajith', 'kishore', 'ganesh', 'ravi', 372, 392]

Tuple( ) in python

allow different types of elements

allow duplicates

allow index and slicing

Immutable : we cannot modify

ex : a=(1,2,3,4,5,'prajith')

Tuple operations

1.concatination,
2.iteration,
3.membership operation,
4.identity operation,
5.repetation,

In [ ]:
#Tuple()
c=()
print(type(c))

<class 'tuple'>

In [ ]:
c=(1,22,1,3,14,14,'prajith')
print(c[5])
print(c[0:4:2])

14
(1, 1)

In [ ]:
T=(1,22,33,44,55,66,77,88)
print(min(T))
print(max(T))

1
88

In [ ]:
T=(372,382)
print(sum(T))
print(len(T))

754
2

In [ ]:
#concatination using Tuple()
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#repetation using Tuple()
T=(1,24,1,4,5,7)
#print(T*11)
for i in T:
  print(i)

1
24
1
4
5
7

In [ ]:
#membership operation using Tuple()
T=(1,24,25,26,27,28)
print(11 not in T)
print(24 not in T)

True
False

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
print(t1 is t2)
print(t1 is not t2)

False
True

Dictionary in python{ }

key value pair


key should be immutable

value should be mutable

a={'a':123,1:"abc"}

a = key

123 = value

key will act as index

No slicing

Keys are unique

dectionary methods : get(),update(),values(),
keys(),items()

In [ ]:
#Dictionary
d={}
print(type(d))

<class 'dict'>

In [ ]:
d={1:'abc',24:'prajith','pythoncourse':1}
print(d[24])

prajith

In [ ]:
d={1:'abc',24:'prajith','pythoncourse':1} #get() method
print(d.get(1))

abc

In [ ]:
#keys()
print(d.keys())

dict_keys([1, 24, 'pythoncourse'])

In [ ]:
#values()
print(d.values())

dict_values(['abc', 'prajith', 1])

In [ ]:
#update()
d.update({1111:2222})
print(d)

{1: 'abc', 24: 'prajith', 'pythoncourse': 1, 1111: 2222}

In [ ]:
print(d.items()) #items()

dict_items([(1, 'abc'), (24, 'prajith'), ('pythoncourse', 1), (1111, 2222)])

In [ ]:
#using for loop dictionary implementation
for i in {372:'rollno','prajith':24,'learning':'python'}.items():
  print(i)

(372, 'rollno')
('prajith', 24)
('learning', 'python')

set { }

Do not allow duplicates

No index

Do not allow mutable types as set elements

methods : add(),update(),pop(),remove()

set operations : union(), intersection(),difference(),subset(),issupert()

In [ ]:
#set {} in python
s={1,372,5}
print(type(s))

<class 'set'>

In [ ]:
#set{} is an unordered
#add{}
s={'prajith','ravi','hari'}
s.add(372)
print(s)

{'ravi', 'hari', 372, 'prajith'}

In [ ]:
s.update({'kishore'}) #update()
print(s)

{1, 'i', 2, 'y', 3, 4, 5, 'r', 6, 7, 'a', 8, 9, 10, 'j', 'ravi', 'vijay', 'prajith', 'v', 'p', 'hari', 372, 't', 'h', 'kishore'}

In [ ]:
s={'prajith',6301698279,'Nellore'} #pop()
#print(s.pop())
s.pop()

'Nellore'

In [ ]:
#remove in set{}
s={'prajith',372,6379}
s.remove(372)
print(s)

{6379, 'prajith'}

In [ ]:
#union()
set1={1,2,3} #all
set2={4,5,6}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

In [ ]:
#intersection()
set1={1,2,3,4} #common
set2={4,5,6}
print(set1.intersection(set2))

{4}

In [ ]:
print(set1.difference(set2)) #difference()

{1, 2, 3}

In [ ]:
#issuperset()
set1={1,2,3,4,5,6}
set2={1,2,3}
print(set1.issuperset(set2))

True

In [ ]:
#issubset()
set1={1,2,3,4,5,6}
set2={1,2,3}
print(set2.issubset(set1))

True

Functions in python

function is a block of code

function will run when it is called

syntax :

def function name() {
    function body
function name() }

def : function definition

function name : function calling

function with in a function nested function

In [ ]:
#functions
def func(): #function definition
  print("this is a function") #function body
func() #function calling

this is a function

In [ ]:
def func(a,b,c):
  print("this is a function",a,b,c)
func(1,2,3)

this is a function 1 2 3

In [ ]:
#use * if we want to use multiple arguments with single parameter otherwise it show error
def func(*a):
  print("this is a function with single argument with *",a) #function body
func(1,2,3) #function calling

this is a function with single argument with * (1, 2, 3)

In [ ]:
#function with keyword arguments
# it will store data in the dictionary format
def func(**a):
  print("this is function",a)
func(a=1,b=2)

this is function {'a': 1, 'b': 2}

In [ ]:
#nested function : function inside the function
def outer():
  print("outer function")
  def inner():
    print("inner function")
  inner()
outer()

outer function
inner function

file handling in python

Reading,writing,creating of a file is called file handling

steps : open()

Read/write

close()

Methods : r - read

w-write

a-append

r+ - read,write

w+-write,read

In [ ]:
#file handling in python
#read()
#write()
f=open('file.txt',mode='w')
f.write("python is good start for data science")
f.close()

In [ ]:
f=open('file.txt',mode='r+') #r+
print(f.read())
f.write('r+mode')
f.close()

python is good start for data science

In [ ]:
f=open('file.txt',mode='w+') #w+
f.write('w+mode')
f.seek(0)
print(f.read())
f.close()

w+mode

Error Handling in python

definition : interupting normal execution of code is called error or exception

syntax 

try:

   risky code

except:

     print("error")

else:

     print("no error")

finally:

    print("always")

In [ ]:
#error or exception handling
try:
  print('a'+372)
except TypeError:
  print("type error")
except ValueError:
  print("value Error")
else:
  print("no error")
finally:
  print("always")

type error
always

oops concepts in python

class : class is a blue print of an object

syntax : class class_name():

class : key

class_name(): class definition

Object : real or physical entity

we can create any no of objects for class

memory allocated when object is created

syntax:

Object name=class name()

In [ ]:
#class in python
class Prajith():
  a=3
  print(a)

3

In [ ]:
class Prajith():
  a=2
  def output(self): #when we want to access variables and methods in current class we use self keyword
    print(self.a)
b=Prajith()
b.output()

2

In [ ]:
#multiple objects for single class
class Prajith():
  a=2
  def outer(self):
    print(self.a)
b=Prajith()
v=Prajith()
b.outer()
v.outer()

2
2

Inheritance in python

Definition : Inheriting the properties from parent class to child class

Types of Inheritence :

1.single level :  parent class properties will get into child class

ex : father to child

2.Multilevel inheritence : it inherits level by level

ex : grandfather to father to child

3.multiple inheritence : more than one parent class and only one child class

ex : father and mother inherits single child

4.Hierarichal inheritence : one parent class multiple child class

ex: one father two childrean

In [ ]:
#single level inheritence
class Parent():
  def output(self):
    print("i am a parent class")
class Child(Parent):
  def outputc(self):
    print("i am a child class")
c=Child()
c.outputc() # child method
c.output() # parent method

i am a child class
i am a parent class

In [ ]:
#multilevel inheritence
class Grandfather():
  def outputgf(self):
    print("i am a grand father")
class Father(Grandfather):
  def outputf(self):
    print("i am a father")
class Child(Father):
  def outputc(self):
    print("i am a child")
c=Child()
c.outputc() #child method
c.outputf() # father method
c.outputgf()   # grand father method

i am a child
i am a father
i am a grand father

In [ ]:
#multiple inheritence
class Father():
  def outputf(self):
    print("i am a father")
class Mother():
  def outputm(self):
    print("i am a mother")
class Child(Father,Mother):
  def outputC(self):
    print("i am a child")
c=Child()
c.outputC()
c.outputf()
c.outputm()

i am a child
i am a father
i am a mother

In [ ]:
#Hirarichal inheritence
class Father():
  def output(self):
    print("i am a father")
class Child1(Father):
  def outputc1(self):
    print("i am child 1")
class Child2(Father):
  def outputc2(self):
    print("i am child 2")
c=Child1()
c2=Child2()
c.outputc1()
c2.outputc2()

i am child 1
i am child 2

Encapsulation in python

definition : wrapping of variables and methods into a single unit

access specifiers : public,private,protected

Polymorphism : poly means many and morph means forms

example :

def add(a,b):
add(1,2)
add('a','b')
add((1,1),(2,2))

Data Abstarction : hiding unnesscary data and providig access to the neccessary details

In [ ]:
#access specifiers
class demo():
  __a=2 #private
  _b=4 #protected
  print(__a)
  print(_b)

2
4

In [ ]:
class demo():
  def __init__(self,a,b):
    self.__a=a #private
    self._b=b #protected
class demo2(demo):
  def output(self):
    print(self._b) #cant able to acccess private data in another class
d=demo2(3,4)
d.output()

4

In [ ]:
#polymorphism
def add(a,b):
  print(a+b)
add(1,2)
add('a','b')
add([34,4],[44,4])
add((3,4),(4,6))

3
ab
[34, 4, 44, 4]
(3, 4, 4, 6)

In [ ]:
#Encapsulation
class Person:
  def __init__(self, name, age):
    self._name = name
    self._age = age

  def get_name(self):
    return self._name

  def get_age(self):
    return self._age

  def set_name(self, name):
    self._name = name

  def set_age(self, age):
    self._age = age

person = Person("Prajith", 24)
print(person.get_name())
print(person.get_age())
person.set_name("Hari")
person.set_age(53)
print(person.get_name())
print(person.get_age())

Prajith
24
Hari
53

In [ ]:
#Data Abstarction
class Product:
  def __init__(self, name, price):
    self._name = name
    self._price = price

  def get_name(self):
    return self._name

  def get_price(self):
    return self._price

  def set_name(self, name):
    self._name = name

  def set_price(self, price):
    self._price = price

product = Product("Apple", 1.99)
print(product.get_name())
print(product.get_price())
product.set_name("Banana")
product.set_price(2.99)
print(product.get_name())
print(product.get_price())

Apple
1.99
Banana
2.99

Multi threading in python
* single flow of control is said to be a thread
* in threads there are two types of execution
* sequential execution : one after another : second process must wait for the completion of first process
* concurrent execution  : parallel execution : second process need not wait for the completion of first process
* How to create a thread ?
1.create a class that extends Thread
class thread1(Thread):

2.Define run() method

   def run(self):
     #code
3.create object of the class and call start method

     obj=thread1()
     obj.start() #calling run method of the thread by using start method

In [ ]:
#multi threading
import threading
import time
print("main starts")
class thread1(threading.Thread):
  def run(self):
    for i in range(4):
      print("thread1:",str(i))
      time.sleep(6)
class thread2(threading.Thread):
  def run(self):
    for i in range(4):
      print("thread2:",str(i))
      time.sleep(2)
t1=thread1()
t1.start()
t2=thread2()
t2.start()
print("main ends")

main starts
thread1: 0
thread2:main ends
 0